<div class="container">
  <div class="btnContainer">
    <a class="btnLogin" href="https://proyectofinal-node-production.up.railway.app/register">REGISTER</a>
  </div>
  <div class="header">
    <h1>
      LOGIN
    </h1>
  </div>
  <div class="header">
    <form class="form" onsubmit='login(event)'>
      <input
        id='form-email'
        type='text'
        name='form-email'
        placeholder='EMAIL'
      />
      <input
        id='form-password'
        type='password'
        name='form-password'
        placeholder='PASSWORD'
      />
      <input class="btn" type='submit' value='LOGIN' />
    </form>
    <div id="confirmLogin"></div>
  </div>
  {{!-- <div class="btnDiv">
    <button class="btnLogin" onclick="recoverPass(event)">RECUPERAR CONTRASEÑA</button>
    <div id="confirmRestorePassword"></div>
  </div>
  <div class="btnDiv">
    <a class="btnLogin" href="/api/auth/github">INICIAR SESION CON GITHUB</a>
  </div> --}}
</div>
<script src='js/login.js'></script>

<style>
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: .5rem 0 ;
    border-bottom: 1px white solid;
  }
  .form {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

.btnDiv{ 
  width: 95%;
  text-align: center;
  margin: 2rem auto;
}

.btnLogin{
  color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}
.btnContainer{
  margin: 20px 0px;
}
</style>