* {
    background-color: black;
    color: white;
    padding: 8px;
}

.header {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: .5rem 0 ;
    border-bottom: 1px white solid;
}

.navContent{
    display: flex;
    justify-content: space-around;
}
.navLink {
    text-decoration: none;
    font-size: 1.5rem;
    gap: 2rem;
}

.navLink:hover {
    background-color: aliceblue;
    color: black;
}

.homeContainer {
    width: 95%;
    margin: auto;
}

.pageContainer {
    width: 60%;
}

.btnContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}

.pageBtn{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    margin-top: 2rem;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -webkit-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -moz-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    border-radius: 4rem;
}

.prodContent{
    width: 80%;
    background: none;
}

.prodItem {
    text-align: center;
    background: none;
    height: 2rem;
}

.prodImg{
    width: -webkit-fill-available;
    height: 40%;
}

.prodBtn {
    padding: 1rem;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.prodBtn:hover {
    background-color: aliceblue;
    color: black;
}

.logoutBtn {
    padding: 1rem;
    width: 15%;
    background: none;
    border: none;
    cursor: pointer;
}

.logoutBtn:hover {
    background-color: aliceblue;
    color: black;
}




